﻿<div class="row">
    <div class="col-lg-12 margin-tb">
        <div class="pull-left">
            <h1>Ingresos</h1>
        </div>
        <div class="pull-right">

            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus" aria-hidden="true"></i> Agregar
            </button>

        </div>
    </div>
</div>
<table id="myTable" class="table" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No</th>
            <th>Nombre de Area</th>
            <th>Nombre de Edificio</th>
            <th width="280px">Action</th>
        </tr>
    </thead>
    <tfoot>
    </tfoot>
    <tbody>

        <tr>
            <td>example</td>
            <td>example</td>
            <td>example</td>


            <td>
                <button id="hola" class="btn btn-primary">
                    Editar
                </button>
                <a class="btn btn-danger">
                    Eiminar
                </a>
            </td>
        </tr>

    </tbody>

</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        
    </div>
</div>