﻿@{
    ViewBag.Title = "Home Page";
}
@model Crud_application.Models.AddTableModel.IngresoTableModel

  <div class="container">
    <br />
    <br />
      <a class="btn btn-success" style="margin-bottom:12px;" onclick="addview()">
          <span class="glyphicon glyphicon-plus" data-toggle="modal"></span>
          Nuevo Ingreso
      </a>
    <table id="myTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>DescripcionMoviento</th>
                <th>FechaRegistro</th>
                <th>Monto</th>
            </tr>
        </thead>
    </table>
 
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    @section scripts{
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <scrit src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></scrit>
        <script>
           $(document).ready(function () {
               $('#myTable').DataTable({
                   "ajax": {
                       "type":"GET",
                       "url": "@Url.Action("getdata","Home")",
                       "datatype":JSON,
                   },
                  
                   "columns": [
                       { "data": "Id" },
                       { "data": "DescripcionMovimiento" },
                       { "data": "FechaRegistro" },
                       { "data": "Monto" },
                       
                   ],
                   "language": {

                       "processing": "<img scr='d/loader.gif'/>",
                       "emptyTable": "No data found, you may click on <b>add new</b> button"
                   },


               });
           });
        </script>
    }

      <script>
        function addview() {

            $("#myModal").modal('show');
            $("#submitdata").show();
            $("#updaterecord").hide();

            $("#idGt").val("");
            $("#name").val("");
            $("#email").val("");
            $("#address").val("");
            $("#country").val("");
            $("#pin").val("");

            return false;
        }

        function btnsubmit() {
            var Data = $("#formsubmit").serialize();
            $.ajax({

                type: 'POST',
                url: '@Url.Action("postdata", "Home")',
                data: Data,
                datatype: 'JSON',
                success: function (response) {
                    if (response.result) {

                        $.notify(response.message, {

                            globalPosition: 'top right',
                            className: 'success',

                        })
                        Datatables.ajax.reload();
                       $("#myModal").modal('hide');
                    }
                },
                error: function (msg) {
                    alert(msg.responseText);
                }
            });
        }

      </script>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" style="border-radius:0px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold;"><span class="glyphicon glyphicon-list-alt"></span>Add data</h5>

                </div>
                <div class="modal-body" id="categet">
                    <div class="panel-group">
                        <div class="panel-default">
                            <div class="panel panel-success">
                                <div class="panel-heading"><strong>Success Implement</strong></div>
                                <div class="panel-body">
                                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                                        @using (Html.BeginForm("postdata", "Home", FormMethod.Post, new { @id = "formsubmit" }))
                                        {
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DescripcionMovimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.DescripcionMovimiento, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.DescripcionMovimiento, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.IdCampania, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.DropDownList("miDropDownListCompania",(List<SelectListItem>)ViewBag.ListadoCompanias)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.IdPersonaRegistro, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.DropDownList("miDropDownListPersonaRegistrp", (List<SelectListItem>)ViewBag.ListadoPersonas)
                                                </div>
                                            </div>

                                            
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FechaRegistro, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(model => model.FechaRegistro, new { @type = "date", @class = "form-control datepicker" })
                                                    @Html.ValidationMessageFor(model => model.FechaRegistro, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.MonedaIso, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.MonedaIso, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.MonedaIso, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.IdPropiedad, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.DropDownList("miDropDownListProiedad", (List<SelectListItem>)ViewBag.ListadoPropiedades)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FormaIngreso, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.DropDownList("miDropDownListIngresos", (List<SelectListItem>)ViewBag.ListadoIngresos)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CodSubcuenta, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.DropDownList("miDropDownListCodSubcuentas", (List<SelectListItem>)ViewBag.ListadoSubcuentas)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.IdPersonaVenta, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.DropDownList("miDropDownListPersonasVenta", (List<SelectListItem>)ViewBag.ListadoPersonas)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CodSubcuenta, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.DropDownList("miDropDownListCodSubcuentas", (List<SelectListItem>)ViewBag.ListadoSubcuentas)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FechaModificacion, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(model => model.FechaModificacion, new { @type = "date", @class = "form-control datepicker" })
                                                    @Html.ValidationMessageFor(model => model.FechaModificacion, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.IdPersonaModificacion, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.DropDownList("miDropDownListPersonasModificacion", (List<SelectListItem>)ViewBag.ListadoPersonas)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.IdCajaEfectivo, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.DropDownList("miDropDownListCAjaEfectivo", (List<SelectListItem>)ViewBag.ListadoCajaEfectivos)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.IdBanco, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.DropDownList("miDropDownListBanco", (List<SelectListItem>)ViewBag.ListadoBancos)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NroCheque, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.NroCheque, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.NroCheque, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NroLanzamiento, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.NroLanzamiento, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.NroLanzamiento, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PathComprobante, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.PathComprobante, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.PathComprobante, "", new { @class = "text-danger" })
                                                </div>
                                            </div>


                                                <button type="button" class="btn btn-success btn-block" id="submitdata" onclick="btnsubmit()">Form submit</button>
                                                <button type="button" class="btn btn-success btn-block" id="updaterecord" onclick="Updatesubmit()">Update Record</button>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



