﻿
@model List<CrudPrueba.Models.TableViewModels.IngresoTableViewModel>
 <div class="container">
    <div class="row">
        <div class="col-lg-12 margin-tb">
            <div class="pull-left">
                <h1>Ingresos</h1>
            </div>
            <div class="pull-right">

                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-plus" aria-hidden="true"></i> Agregar
                </button>
            </div>
        </div>
    </div>

    <table id="myTable" class="table" cellspacing="0">
        <thead>
            <tr>
                <th>No</th>
                <th>Descripcion Movimiento</th>
                <th>Fecha de Registro</th>
                <th>Monto</th>
                <th>Moneda</th>
                <th>FormaIngreso</th>
                <th>Estado</th>
                <th>Nro Cheque</th>
                <th>Nro Lanzamiento</th>
                <th>Path Comprobante</th>
                <th width="280px">Action</th>
            </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
           
        </tbody>

    </table>
     <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
   @section scripts{
     <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
     <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

     <script type="text/javascript">

            $(document).ready(function () {

                $('#myTable').DataTable({

                    "ajax": {
                        "type": "GET",
                        "url": "@Url.Action("getdata","Ingreso")",
                        "datatype":"JSON",
                    },
                    "colums": [
                        {data:"Id"},
                        {data:"DescripcionMovimiento"},
                        {data:"FechaRegistro"},
                        {data:"Monto"},
                        {data:"MonedaIso"},
                        {data:"FormaIngreso"},
                        {data:"Estado"},
                        {data:"NroCheque"},
                        {data:"NroLanzamiento"},
                        {data:"PathComprabante"},
                     
                    ]
                });

            });

     </script>
           
   }
   
</div>